################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/2DGame/02-Bubble/.vs/02-Bubble/v17/Browse.VC.opendb
/2DGame/02-Bubble/.vs/02-Bubble/v17/Browse.VC.db-wal
/2DGame/02-Bubble/.vs/02-Bubble/v17/Browse.VC.db-shm
